body{
    background-color: rgb(80, 80, 80);
}
h1.style{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    font-size: 40px;
}
button{
    margin-left: 100px;
}
button.h{
    background-color: rgb(255, 69, 0); /* black */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    button.h:hover{
        background-color: rgb(255, 153, 51);
        color: white;
        box-shadow: 1px 10px 5px rgb(226, 222, 222);
    }
button.c{
    background-color: rgb(152, 32, 170); /* purple */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    button.c:hover{
        background-color: rgb(184, 40, 206);
        color: white;
        box-shadow: 1px 10px 5px rgb(226, 222, 222);
    }
button.j{
    background-color: rgb(15, 137, 172); /* blue */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    button.j:hover{
        background-color: rgb(0, 153, 255);
        color: white;
        box-shadow: 1px 10px 5px rgb(226, 222, 222);
    }
button.i{
    background-color: rgb(20, 142, 44); /* green */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    button.i:hover{
        background-color: rgb(20, 193, 54);
        color: white;
        box-shadow: 1px 10px 5px rgb(226, 222, 222);
    }
button.b{
    background-color: rgb(252, 227, 3); /* yellow */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    button.b:hover{
        background-color: rgb(248, 243, 105);
        color: black;
        box-shadow: 1px 10px 5px rgb(226, 222, 222);
    }

.mapstyle{
    margin-left: 30px;
    margin-top: -10px;
}

.about{
    font-size: 10px;
    padding: 9px 10px;
    border: none;
    margin-left: 50px;
    color: black;
    text-decoration: none;
}
.why{
    font-size: 10px;
    padding: 9px 10px;
    border: none;
    margin-left: 50px;
    color: black;
    text-decoration: none;
}
.home{
    font-size: 10px;
    padding: 9px 10px;
    border: none;
    color: black;
    text-decoration: none;
}

.parag{
    text-align: center;
    color: rgb(204, 0, 82);
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
.parag1{
    color: rgb(153, 51, 153);
    text-align: center;
    font-size: 17px;
    font-family: "Verdana", Times, serif;
}
.heading{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(11,39,95);
    }
ul{
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
/* li{
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
li a:hover{
    background-color:rgb(152, 32, 170);
    color: white;
}
header{
    height: 200px;
    line-height: 200px;
    text-align: 200px;
    background: #303e49;
} */




/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 50%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size
of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
