body{
    background-color: rgb(80, 80, 80);
}
h1.style{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    font-size: 40px;
}
button{
    margin-left: 100px;
}
/* about page */
button.center{
  margin-left: 0px;
  background-color: rgb(252, 180, 180);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
div.width{
  width: 1000px;
  margin-left: 50px;
}
.gen{
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: blue;
  text-align: center;
}
.cass{
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(7, 172, 106);
  text-align: center;
}
.reva{
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(153, 0, 76);
  text-align: center;
}
.aleena{
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(102, 0, 0);
  text-align: center;
}
.aboutpage{
  background-image: url("aboutbg.png");
}
/* end about page */

a.h{
    background-color: none; /* black */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:30px;
}
    a.h:hover{
        background-color: rgba(255, 69, 0, 0.3);
        color: white;
        padding: 30px 10px;
    }
a.c{
    background-color: none; /* purple */
    border-radius: 25px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:40px;
    margin-top: -90px;
}
    a.c:hover{
        background-color: rgba(152, 32, 170, 0.3);
        color: white;
        padding: 30px 10px;
    }
a.j{
    background-color: none; /* blue */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    a.j:hover{
        background-color: rgba(15, 137, 172, 0.3);
        color: white;
        padding: 30px 10px;
    }
a.i{
    background-color: none; /* green */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:40px;
}
    a.i:hover{
        background-color: rgba(20, 142, 44, 0.3);
        color: white;
        padding: 30px 10px;
    }
a.b{
    background-color: none; /* yellow */
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:40px;
}
    a.b:hover{
        background-color: rgba(252, 227, 3, 0.3);
        color: white;
        padding: 30px 10px;
    }
div.align1{
    text-align: left;
}

.mapstyle{
    margin-left: 5%;
    margin-top: 10px;

}

.about{
    background-color: rgb(80, 80, 80);
    font-size: 13px;
    padding: 9px 10px;
    border: none;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.why{
    background-color: rgb(80, 80, 80);
    font-size: 13px;
    padding: 9px 10px;
    border: none;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.home{
    background-color: rgb(80, 80, 80);
    font-size: 13px;
    padding: 9px 10px;
    border: none;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
#symbolimg{
    margin-left:230px;

}
.parag{
    text-align: center;
    color: white;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin-left: 4cm;
    margin-right: 4cm;

}
.parag1{
    color: rgb(153, 51, 153);
    text-align: center;
    font-size: 17px;
    font-family: "Verdana", Times, serif;
}
.heading{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(11,39,95);
    }
ul{
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.opennav1{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 20px;
}
/* li{
    float: left;
}
li a:hover{
    background-color:rgb(152, 32, 170);
    color: white;
}
header{
    height: 200px;
    line-height: 200px;
    text-align: 200px;
    background: #303e49;
} */




/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; /* Display block instead of inline */
    /* transition: 0.3s;  Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size
of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.cd-blurred-bg {
  /* we use jQuery to apply a mask to this element - CSS clip property */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-img.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(4px);
}
